<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for querying and managing Android 15 Private Space -->
    <uses-permission android:name="android.permission.ACCESS_HIDDEN_PROFILES" />
    <uses-permission android:name="android.permission.MODIFY_QUIET_MODE"
        xmlns:tools="http://schemas.android.com/tools"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES"
        xmlns:tools="http://schemas.android.com/tools"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_USERS"
        xmlns:tools="http://schemas.android.com/tools"
        tools:ignore="ProtectedPermissions" />

    <application>
        <service
            android:name=".helper.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
